{% extends 'main/base.html' %}
{% block content %}
<div id="body-content">
  {% for alert in alerts %}
  <a href="{% url 'alert' alert.purchase_id %}">
    <div class="content-box">
      <div class="content-box-title">
        <div class="row">
          <div class="col-xs-8">
            ${{ alert.amount }} at {{ alert.merchant.name }}
          </div>
          <div class="col-xs-4">
            {{ alert.flag_title }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="row">
            <div class="col-xs-6">
              Date:<br>
              Merchant:<br>
              Amount:<br>
            </div>
            <div class="col-xs-6">
              {{ alert.date }}<br>
              {{ alert.merchant.name }}<br>
              ${{ alert.amount }}
            </div>
          </div>
        </div>
        <div class="col-xs-9">
          {{ alert.flag_message }}
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
