{% extends 'main/base.html' %}
{% block content %}
<div id="body-content">
  <div class="content-box">
    <div class="content-box-title">
		This transaction has been logged as fraudulent in this system. Please call Capital One immediately to report it.<br>
		1 (800) CAPITAL<br>
		(1 (800) 227-4825)<br>
		For more information, visit <a href="https://www.capitalone.com/identity-protection/commitment/">https://www.capitalone.com/identity-protection/commitment/</a>
    </div>
	<div>
  </div>
</div>
{% endblock %}
