/**********************
General
**********************/

* {
  font-family: 'Signika', sans-serif;
  font-size: 16px;
}

p {
  font-size: 20px;
}

body {
  margin-top: 100px;
  background-color: #1daefc;
}

.light-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #222;
    -moz-box-shadow: 0 8px 6px -6px #222;
    box-shadow: 0 8px 20px -6px #222;
}

#body-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

#page-title {
  font-size: 40px;
  background-color: white;
  color: black;
}

/**********************
Navbar
**********************/

.navbar {
  min-height: 80px;
}
.navbar li a {
  font-size: 20px;
}

.navbar-logo
{
  padding: 0 10px;
  height: 60px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.log-in {

}

/**********************
Forms
**********************/

.form-row {
  margin: 20px;
}

input, textarea {
  width: 100%;
  color: black;
}

.content-box {
  background-color: white;
  color: black;
  margin: 20px 5px;
  padding: 20px;
}

.content-box-title,
.content-box-title div {
  font-size: 36px;
}

#comment {
  min-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#comment-submit {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homepage-image {
  padding-top: 5%;
  max-width: 100%;
  float: none;
  display: inline-block;
  vertical-align:middle;
}

/**********************
Splash
**********************/
#splash, #splash-container {
  margin: -5%;
  margin-top: -10%;
  width: 110%;
  min-width: 100%;
}

/**********************
Dashboard
**********************/
.transaction-list-header {
  font-weight: bold;
}
.transaction-item {
  border-bottom-width: 1px;
  border-bottom-color: #444444;
  border-bottom-style: solid;
}

/**********************
Login
**********************/
.login-box {
  max-width: 300px;
  display: block;
  margin: auto;
}

input {
    width:100%;
}

.login-row {
  margin: 5px;
}
